<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portable Energy Generator | Data Collection System</title>
  <!-- BOOTSTRAP STYLES-->
    <link href="<%= typeof relativePath!='undefined' ? relativePath : '' %>css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="<%= typeof relativePath!='undefined' ? relativePath : '' %>css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
     <link href="<%= typeof relativePath!='undefined' ? relativePath : '' %>js/morris/morris-0.4.3.min.css" rel="stylesheet" />

        <!-- CUSTOM STYLES-->
    <link href="<%= typeof relativePath!='undefined' ? relativePath : '' %>css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="<%= typeof relativePath!='undefined' ? relativePath : '' %>js/bootstrap.min.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="<%= typeof relativePath!='undefined' ? relativePath : '' %>js/morris/morris.js"></script>
    <script src="<%= typeof relativePath!='undefined' ? relativePath : '' %>js/morris/raphael-2.1.0.min.js"></script>

    <!-- METISMENU SCRIPTS -->
    <script src="<%= typeof relativePath!='undefined' ? relativePath : '' %>js/jquery.metisMenu.js"></script>
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
    <!-- REACT.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

    <script src="https://cdn.firebase.com/libs/reactfire/0.5.1/reactfire.min.js"></script>


</head>